.dialog-style {
    transform: translate(0, 0) !important;
}

.dialog-confirm {
    transform: translate(0, 200%) !important;
}

.btn-user-responsive {

    @media (max-width: 1450px) {
        margin-top: 0.5rem;

    }

    @media (min-width: 1450px) {
        margin-left: 0.5rem;
    }
} 

.btn-provider-responsive {

    @media (max-width: 1899px) {
        margin-top: 0.5rem;
    }

    @media (min-width: 1900px) {
        margin-left: 0.5rem;

    }
}

.ant-form-item .ant-row {
	display: block;

	label {
		font-weight: 700;
	}
}